spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:orcl
    username: scott
    password: tiger
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
  